html {
    font-size: 0.2rem;
}

body {
    display: grid;
    grid-template-rows: 44px auto 44px;
    background: var(--darkest);
    font-family: "roboto", sans-serif;
    color: var(--darkest);
    height: 100vh;
    margin: 0;
}

main {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid var(--darker);
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.grid {
    display: grid;
}

a:visited {
    color: var(--light);
}

a {
    text-decoration: none;
}

.mininav {
    display: flex;
    justify-content: space-around;
}

.link-item {
    height: 30px;
    width: 100%;
}

:root {
    --lightest: whitesmoke;
    --lighter: mintcream;
    --light: azure;
    --darkest: #031927;
    --darker: #052e47;
    --dark: #0a5c8f;
    --green: #8abe04;
    --red: #dc0000;
    --cl0: #111111;
    --cl1: #2f2f17;
    --cl2: #3e3f18;
    --cl3: #797745;
    --cl4: #b5b093;
    --cl5: #deddc7;
}
