html {
    display: grid;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    font-weight: 510;
    background-image: linear-gradient(var(--darkest), black);
    justify-items: center;
}

body {
    display: grid;
    grid-template-rows: 48px auto 48px;
    color: var(--darker);
    height: 100vh;
    max-width: 460px;
    margin: 0;
    // filter: invert(0) hue-rotate(300deg);
    // too much resources... :(
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: scroll;
    background-image: linear-gradient(var(--darkest), var(--black));
    padding: 4px;
}

main::-webkit-scrollbar {
    width: 0 !important;
}

.mininav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-item {
    height: 30px;
    width: 30px;
}

.input {
    height: 36px;
    color: var(--light);
    background-image: linear-gradient(var(--darker) 30%, var(--dark));
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--dark);
}

a:visited {
    color: var(--dark);
}

:root {
    --lightest: whitesmoke;
    --lighter: mintcream;
    --light: azure;
    --lightly: #def6fc;
    --black: #030a10;
    --darkest: #031927;
    --darker: #052e47;
    --dark: #0a5c8f;
    --green: #8abe04;
    --red: #dc0000;
    --cl0: #111111;
    --cl1: #2f2f17;
    --cl2: #3e3f18;
    --cl3: #797745;
    --cl4: #b5b093;
    --cl5: #deddc7;
}
