.canvas-sm {
    height: 200px;
    width: 100%;
    background: var(--light);
}

.canvas-l {
    height: 600px;
    width: 100%;
    background: var(--light);
}

.width-small {
    width: 100px;
}

.width-xsmall {
    width: 60px;
}

.text-align-right {
    text-align: right;
}

.border {
    border: 12px;
    border: medium solid var(--darker);
}

.border-thin {
    border: 1px solid var(--lightest);
}

.border-bottom-fat {
    border-bottom: 12px solid var(--dark);
}

.border-bottom {
    border-bottom: 4px solid var(--light);
}

.border-radius {
    border-radius: 12px;
}

.shadow {
    box-shadow: 0 0 20px var(--dark);
}

/* padding margin  */
.margin-4 {
    margin: 4px;
}

.margin-8 {
    margin: 8px;
}

.margin-16 {
    margin: 16px;
}

.margin-top-16 {
    margin-top: 16px;
}

.padding-4 {
    padding: 4px;
}

.padding-8 {
    padding: 8px;
}

.padding-12 {
    padding: 12px;
}
