.input {
    padding: 12px;
    border: 1px solid var(--lightest);
}

.btn {
    min-width: 100px;
    padding: 1px 12px;
    font-size: 1rem;
    color: var(--light);
    background: linear-gradient(var(--darker) 30%, var(--dark) 70%);
    border: 2px solid var(--darker);
    border-radius: 90px;
    cursor: pointer;
}

.btn:active {
    background: radial-gradient(circle, var(--light) 60%, var(--dark) 90%);
    color: var(--darkest);
    transform: scale(1.03, 1.03);
    transition: transform 0.2s ease;
}

.btn:hover {
    background: radial-gradient(circle, var(--dark) 60%, var(--darker) 90%);
}

.search-btn {
    height: 36px;
    font-size: 0.7rem;
    color: var(--light);
    width: 100px;
    border: 2px solid lightgray;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    background: linear-gradient(var(--dark) 50%, var(--light));
}

.file-btn {
    max-width: 80px;
}

.create-container {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-btn {
    width: 80%;
}
