.btn {
    // display: flex;
    height: 24px;
    background: linear-gradient(var(--darker) 30%, var(--dark));
    color: var(--light);
    font-size: 0.7rem;
    width: 100px;
    border: 2px solid var(--dark);
    border-radius: 90px;
}

.search-btn {
    height: 36px;
    background: linear-gradient(var(--dark) 50%, var(--light));
    color: var(--light);
    font-size: 0.7rem;
    width: 100px;
    border: 2px solid lightgray;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

.file-btn {
    max-width: 200px;
}

.btn-container {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
