.input {
    padding: 12px;
    border: 1px solid var(--lightest);
}

.btn {
    height: 24px;
    width: 100px;
    font-size: 0.7rem;
    color: var(--light);
    background: linear-gradient(var(--darker) 30%, var(--dark));
    border: 2px solid var(--dark);
    border-radius: 90px;
}

.search-btn {
    height: 36px;
    font-size: 0.7rem;
    color: var(--light);
    width: 100px;
    border: 2px solid lightgray;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    background: linear-gradient(var(--dark) 50%, var(--light));
}

.file-btn {
    max-width: 200px;
}

.btn-container {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
