// .card {
//     background: var(--light);
//     padding-bottom: 8px;
//     border: inset 4px var(--dark);
// }

.card-text {
    color: var(--darkest);
    text-align: center;
    font-size: 2rem;
}
