.card {
    width: 300px;
    background: var(--light);
    padding-bottom: 8px;
    border: inset 4px var(--dark);
}

.card-text {
    color: var(--darkest);
    text-align: center;
    font-size: 2rem;
}
img {
    width: 100%;
}

.accordion-styling {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    // width: 280px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.accordion-top {
    height: 8px;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
}

.accordion-bottom {
    height: 8px;
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
}

.accordion-panel {
    background-color: var(--light);
    color: var(--darkest);
    display: none;
    overflow: hidden;
}

.ripple {
    background-position: center;
    transition: background 0.5s;
}

.ripple:hover {
    background: var(--light)
        radial-gradient(circle, transparent 1%, var(--dark) 10%) center/15000%;
    color: var(--darkest);
}

.ripple:active {
    background-color: var(--lightly);
    background-size: 100%;
    transition: background 0s;
}
