.create-label {
    font-size: 1.2rem;
    text-align: right;
    margin-right: 16px;
}

.create-input {
    height: 36px;
    font-size: 1rem;
    color: var(--light);
    background-image: linear-gradient(var(--darker) 30%, var(--dark));
}

.create-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    margin: -4px;
}

.create-grid-small {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    margin: -10px;
}

.file-label {
    width: 100px;
}
