// .card-create {
//     background: var(--light);
//     color: var(--dark);
// }

.create-label {
    font-size: 1.2rem;
    text-align: right;
    margin-right: 20px;
}

.create-input {
    height: 36px;
    background-image: linear-gradient(var(--darker) 30%, var(--dark));
    color: var(--light);
    font-size: 1rem;
    // max-width: 180px;
    // border: 2px solid var(--darkest);
}

.create-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    background: var(--light);
    height: 60px;
}

.create-grid-small {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    background: var(--light);
    height: 60px;
}

.file-label {
    width: 100px;
}
