.ripple {
    background-position: center;
    transition: background 0.5s;
}

.ripple:active {
    background-color: var(--dark);
    background-size: 100%;
    transition: background 0s;
}

.ripple-light {
    background-position: center;
    transition: background 0.5s;
}

.ripple-light:hover {
    background-image: linear-gradient(
        var(--light),
        var(--dark) 10%,
        var(--light) 12%,
        var(--light) 88%,
        var(--dark) 90%,
        var(--light)
    );
    color: var(--darkest);
}
