.ripple {
    background-position: center;
    transition: background 0.5s;
}

.accordion:hover {
    background: var(--light)
        radial-gradient(circle, transparent 1%, var(--dark) 10%) center/15000%;
    color: var(--darkest);
    transform: scale(1, 1.2);
}

.ripple:active {
    background-color: var(--dark);
    background-size: 100%;
    transition: background 0s;
}

.ripple-light {
    background-position: center;
    transition: background 0.5s;
}

.ripple-light:hover {
    background-image: linear-gradient(
        var(--light),
        var(--dark) 10%,
        var(--light) 12%,
        var(--light) 88%,
        var(--dark) 90%,
        var(--light)
    );
    color: var(--darkest);
}
