.table-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    // grid-auto-rows: 40px auto;
    width: 100%;
    // gap: 8px;
    background: var(--light);
    justify-items: center;
}

.col {
    background: var(--light);
    // color: var(--darker);
    border: 2px solid var(--light);
    border-radius: 2px;
}

.col2 {
    text-align: right;
}

.link {
    display: grid;
    justify-items: center;
    margin: 12px 0 8px 0;
}

// .table-container {
//     display: grid
//     justify-items: center;
//     align-content: center;
// }

.table {
    background: var(--darker);
    border-radius: 4px;
    width: 174px;
}

.table-large {
    width: 100%;
    font-size: 1.4rem;
}

.table-header {
    color: var(--light);
    background-image: linear-gradient(var(--darker) 20%, var(--dark));
    font-size: 1.2rem;
    text-align: left;
    padding: 8px 2px;
}

.info {
    color: var(--light);
    background-image: linear-gradient(var(--darker) 20%, var(--dark));
    border-radius: 4px;
    padding: 6px;
    // top: 6px;

    text-align: center;
}

.info-large {
    color: var(--light);
    background: var(--dark);
    width: auto;
    margin-top: 8px;
    text-align: center;
}
