.table-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 100%;
}

.col {
    border-radius: 2px;
    border: 2px solid var(--light);
    background: var(--light);
}

.col2 {
    text-align: right;
}

.link {
    display: grid;
    justify-items: center;
    margin: 12px 0 8px 0;
}

.table {
    background: var(--darker);
    border-radius: 4px;
    width: 160px;
}

.table-large {
    margin: 16px 8px;
    width: 96%;
    font-size: 1.2rem;
}

.table-header {
    padding: 8px;
    font-size: 1.1rem;
    text-align: left;
    color: var(--light);
    background-image: linear-gradient(var(--darker) 20%, var(--dark));
}

.info {
    padding: 6px;
    border-radius: 4px;
    font-size: 1.1rem;
    text-align: center;
    color: var(--light) !important;
    background-image: linear-gradient(var(--darker) 20%, var(--dark));
}

.info-large {
    color: var(--light) !important;
    background: var(--dark);
    font-size: 1.1rem;
    text-align: center;
    margin-top: 8px;
    width: auto;
}
