.start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(var(--darkest), black);
}

.start-img {
    z-index: 1;
    width: 40px;
    height: 40px;
    fill: black;
}

.start-sticker {
    width: 200px;
}

.box {
    position: absolute;
    user-select: none;
    font-size: 120px;
    font-family: serif;
    color: var(--light);
    animation: box 3s linear infinite;
    transform-origin: bottom right;
}

@keyframes box {
    0% {
        transform: translate(600px) rotateZ(8deg);
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    25% {
        transform: translate(-25px) rotateZ(8deg);
        opacity: 1;
    }

    28% {
        transform: translate(-25px) rotateZ(0);
        opacity: 1;
    }

    75% {
        transform: translate(-25px);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }
    100% {
        transform: translate(-600px) rotateZ(8deg);
        opacity: 0;
    }
}
