header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.2rem;
  font-family: geneva;
  color: var(--lighter);
  background-image: linear-gradient(var(--darkest) 20%, var(--darker));
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 48px;
  background-image: linear-gradient(var(--darker) 50%, var(--darkest));
}

.footer-item {
  height: 30px;
  margin: 4px;
  width: auto;
  opacity: 0.6;
  text-decoration: none;
}

.footer-item:hover {
  scale: 1.1;
  background-image: linear-gradient(transparent, #03192780 30%);
  opacity: 1;
  transition: 0.2s;
}

.footer-item:active {
  scale: 1.1;
  background-image: linear-gradient(transparent, #03192780 30%);
  opacity: 1;
  transition: 0.2s;
}

.nav {
  scale: 1.1;
  background-image: linear-gradient(transparent, #03192780 30%);
  opacity: 1;
}

.create-label {
  font-size: 1.2rem;
  text-align: right;
  margin-right: 16px;
}

.create-input {
  height: 36px;
  font-size: 1rem;
  color: var(--light);
  background-image: linear-gradient(var(--darker) 30%, var(--dark));
}

.create-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  margin: -4px;
}

.create-grid-small {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  margin: -10px;
}

.file-label {
  width: 100px;
}

.table-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  width: 100%;
}

.col {
  border-radius: 2px;
  border: 2px solid var(--light);
  background: var(--light);
}

.col2 {
  text-align: right;
}

.link {
  display: grid;
  justify-items: center;
  margin: 12px 0 8px 0;
}

.table {
  background: var(--darker);
  border-radius: 4px;
  width: 160px;
}

.table-large {
  margin: 16px 8px;
  width: 96%;
  font-size: 1.2rem;
}

.table-header {
  padding: 8px;
  font-size: 1.1rem;
  text-align: left;
  color: var(--light);
  background-image: linear-gradient(var(--darker) 20%, var(--dark));
}

.info {
  padding: 6px;
  border-radius: 4px;
  font-size: 1.1rem;
  text-align: center;
  color: var(--light) !important;
  background-image: linear-gradient(var(--darker) 20%, var(--dark));
}

.info-large {
  color: var(--light) !important;
  background: var(--dark);
  font-size: 1.1rem;
  text-align: center;
  margin-top: 8px;
  width: auto;
}

.dot-container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}

.bar-dot {
  height: 18px;
  width: 18px;
  border-radius: 90px;
  border: 2px solid var(--darkest);
  background: var(--green);
}

.bar-container {
  width: 100%;
  min-width: 348px;
  max-width: 420px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3px 3px;
  background: var(--light);
  background-image: linear-gradient(80deg, var(--light) 1px, var(--light) 260px, var(--lightly) 260px, var(--lightly) 420px);
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}

.bar-title {
  font-size: 1.3rem;
  margin: 2px 0 0 0;
}

.bar-text {
  margin-top: 6px;
}

.bar-grid {
  display: grid;
  grid-template-columns: 20% auto 22px;
  grid-auto-rows: 64px;
  padding: 6px;
}

.bar-grid-create {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 6px;
}

.bar-full {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 1.2rem;
  color: var(--light);
  background-image: linear-gradient(var(--darker) 30%, var(--dark));
}

.bar-header {
  padding: 8px;
}

.bar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 90px;
  border: 2px solid var(--dark);
  background-image: linear-gradient(var(--darker) 30%, var(--dark));
  box-shadow: 0 1px 6px var(--dark);
}

.accordion {
  padding: 8px 24px 4px 24px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  outline: none;
  color: var(--light);
  background-image: linear-gradient(var(--darker) 30%, var(--dark));
  border-radius: 4px;
}

.main-accordion {
  font-size: 1.1rem;
  padding: 6px 4px 4px 4px;
  margin-bottom: 8px;
  background-image: linear-gradient(var(--darkest), transparent 4px);
}

.accordion:hover {
  background: var(--light) radial-gradient(circle, transparent 1%, var(--dark) 10%) center/15000%;
  color: var(--darkest);
  transform: scale(1, 1.2);
}

.accordion-panel {
  font-size: 1.2rem;
  color: var(--darker);
  background-image: linear-gradient(80deg, var(--light) 1px, var(--light) 260px, var(--lightly) 260px, var(--lightly) 420px);
  display: none;
  overflow: hidden;
}

.accordion-item {
  display: grid;
  align-items: center;
  margin: 12px;
  font-size: 1.05rem;
}

.accordion-bottom {
  border-bottom-right-radius: 6px;
}

.accordion-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-grid-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple {
  background-position: center;
  transition: background 0.5s;
}

.ripple:active {
  background-color: var(--dark);
  background-size: 100%;
  transition: background 0s;
}

.ripple-light {
  background-position: center;
  transition: background 0.5s;
}

.ripple-light:hover {
  background-image: linear-gradient(var(--light), var(--dark) 10%, var(--light) 12%, var(--light) 88%, var(--dark) 90%, var(--light));
  color: var(--darkest);
}

.input {
  padding: 12px;
  border: 1px solid var(--lightest);
}

.btn {
  min-width: 100px;
  padding: 1px 12px;
  font-size: 1rem;
  color: var(--light);
  background: linear-gradient(var(--darker) 30%, var(--dark) 70%);
  border: 2px solid var(--darker);
  border-radius: 90px;
  cursor: pointer;
}

.btn:active {
  background: radial-gradient(circle, var(--light) 60%, var(--dark) 90%);
  color: var(--darkest);
  transform: scale(1.03, 1.03);
  transition: transform 0.2s ease;
}

.btn:hover {
  background: radial-gradient(circle, var(--dark) 60%, var(--darker) 90%);
}

.search-btn {
  height: 36px;
  font-size: 0.7rem;
  color: var(--light);
  width: 100px;
  border: 2px solid lightgray;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  background: linear-gradient(var(--dark) 50%, var(--light));
}

.file-btn {
  max-width: 80px;
}

.create-container {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-btn {
  width: 80%;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(var(--darkest), black);
}

.start-img {
  z-index: 1;
  width: 40px;
  height: 40px;
  fill: black;
}

.start-sticker {
  width: 200px;
}

.box {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 120px;
  font-family: serif;
  color: var(--light);
  -webkit-animation: box 3s linear infinite;
          animation: box 3s linear infinite;
  transform-origin: bottom right;
}

@-webkit-keyframes box {
  0% {
    transform: translate(600px) rotateZ(8deg);
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  25% {
    transform: translate(-25px) rotateZ(8deg);
    opacity: 1;
  }

  28% {
    transform: translate(-25px) rotateZ(0);
    opacity: 1;
  }

  75% {
    transform: translate(-25px);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: translate(-600px) rotateZ(8deg);
    opacity: 0;
  }
}

@keyframes box {
  0% {
    transform: translate(600px) rotateZ(8deg);
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  25% {
    transform: translate(-25px) rotateZ(8deg);
    opacity: 1;
  }

  28% {
    transform: translate(-25px) rotateZ(0);
    opacity: 1;
  }

  75% {
    transform: translate(-25px);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: translate(-600px) rotateZ(8deg);
    opacity: 0;
  }
}

html {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 510;
}

body {
  display: grid;
  grid-template-rows: 48px auto 48px;
  color: var(--darker);
  height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  background-image: linear-gradient(var(--darkest), var(--black));
  padding: 4px;
}

.mininav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-item {
  height: 30px;
  width: 30px;
}

.input {
  height: 36px;
  color: var(--light);
  background-image: linear-gradient(var(--darker) 30%, var(--dark));
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:visited {
  color: var(--dark);
}

:root {
  --lightest: whitesmoke;
  --lighter: mintcream;
  --light: azure;
  --lightly: #def6fc;
  --black: #030a10;
  --darkest: #031927;
  --darker: #052e47;
  --dark: #0a5c8f;
  --green: #8abe04;
  --red: #dc0000;
  --cl0: #111111;
  --cl1: #2f2f17;
  --cl2: #3e3f18;
  --cl3: #797745;
  --cl4: #b5b093;
  --cl5: #deddc7;
}

.canvas-sm {
  height: 200px;
  width: 100%;
  background: var(--light);
}

.canvas-l {
  height: 600px;
  width: 100%;
  background: var(--light);
}

.block {
  display: block;
}

.none {
  display: none;
}

.red {
  color: var(--red);
}

.width-small {
  width: 100px;
}

.width-xsmall {
  width: 60px;
}

.text-align-right {
  text-align: right;
}

.border {
  border: 12px;
  border: medium solid var(--darker);
}

.border-thin {
  border: 1px solid var(--lightest);
}

.border-bottom-fat {
  border-bottom: 12px solid var(--dark);
}

.border-bottom {
  border-bottom: 4px solid var(--light);
}

.border-radius {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 0 20px var(--dark);
}

/* padding margin  */

.margin-4 {
  margin: 4px;
}

.margin-8 {
  margin: 8px;
}

.margin-16 {
  margin: 16px;
}

.margin-top-16 {
  margin-top: 16px;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.padding-top-16 {
  padding-top: 16px;
}

