html {
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-rows: 44px auto 44px;
  background: var(--darkest);
  font-family: "roboto", sans-serif;
  color: var(--darker);
  height: 100vh;
  margin: 0;
}

main {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid var(--darker);
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.grid {
  display: grid;
}

a:visited {
  color: var(--light);
}

a {
  text-decoration: none;
}

.mininav {
  display: flex;
  justify-content: space-around;
}

.link-item {
  height: 30px;
  width: 100%;
}

:root {
  --lightest: whitesmoke;
  --lighter: mintcream;
  --light: azure;
  --darkest: #031927;
  --darker: #052e47;
  --dark: #0a5c8f;
  --green: #8abe04;
  --red: #dc0000;
  --cl0: #111111;
  --cl1: #2f2f17;
  --cl2: #3e3f18;
  --cl3: #797745;
  --cl4: #b5b093;
  --cl5: #deddc7;
}

header {
  font-size: 2.2rem;
  background-image: linear-gradient(var(--darkest) 20%, var(--darker));
  color: var(--lighter);
  font-family: geneva;
  text-align: center;
}

footer {
  background-image: linear-gradient(var(--darker) 50%, var(--darkest));
  display: flex;
  justify-content: space-around;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.footer-item {
  text-decoration: none;
  height: 36px;
  margin: 4px;
  width: auto;
  background: var(--light);
}

.card-text {
  color: var(--darkest);
  text-align: center;
  font-size: 2rem;
}

.card-create {
  background: var(--light);
  color: var(--dark);
}

.create-label {
  font-size: 18px;
  text-align: right;
  margin-right: 20px;
}

.create-input {
  height: 28px;
  border: 2px solid var(--dark);
}

.grid-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 8px;
}

.col {
  background: var(--light);
  color: var(--darker);
  border: 2px solid var(--light);
  border-radius: 2px;
}

.col2 {
  text-align: right;
}

.table {
  background: var(--dark);
  border-radius: 4px;
}

.table-large {
  width: 300px;
}

.table-header {
  color: var(--light);
  background: var(--dark);
  font-size: 16px;
  text-align: left;
  padding: 6px 2px;
}

.info {
  color: var(--light);
  background: var(--dark);
  width: 80%;
  margin: 6px 6px 4px 6px;
  text-align: center;
}

.info-large {
  color: var(--light);
  background: var(--dark);
  width: auto;
  margin-top: 12px;
  text-align: center;
}

.dot-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.bar-dot {
  height: 28px;
  width: 28px;
  border-radius: 90px;
  border: 2px solid var(--darkest);
  background: var(--green);
}

.bar-container {
  border-left: 1px inset var(--dark);
  border-right: 1px inset var(--dark);
}

.bar-title {
  font-size: 1.6rem;
  margin: 0;
}

.bar-text {
  margin-top: 6px;
}

.bar-grid {
  display: grid;
  grid-template-columns: 20% auto 40px;
  grid-auto-rows: 64px;
  padding: 4px;
  background: var(--light);
  width: 390px;
}

.bar-header {
  padding: 8px;
}

.bar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 90px;
  border: 2px solid var(--dark);
  background-image: linear-gradient(var(--darker) 30%, var(--dark));
  box-shadow: 0 1px 6px var(--dark);
}

.accordion {
  background-image: linear-gradient(var(--darker) 30%, var(--dark));
  color: var(--light);
  cursor: pointer;
  text-align: center;
  outline: none;
  font-size: 1.3rem;
  padding: 4px 24px 4px 24px;
}

.accordion-panel {
  font-size: 1.3rem;
  color: var(--darker);
  width: 100%;
  display: none;
  overflow: hidden;
}

.accordion-item {
  display: grid;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 8px;
}

.accordion-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light);
}

.ripple {
  background-position: center;
  transition: background 0.5s;
}

.ripple:hover {
  background: var(--light) radial-gradient(circle, transparent 1%, var(--dark) 10%) center/15000%;
  color: var(--darkest);
}

.ripple:active {
  background-color: var(--dark);
  background-size: 100%;
  transition: background 0s;
}

.ripple-light {
  background-position: center;
  transition: background 0.5s;
}

.ripple-light:hover {
  background-image: linear-gradient(var(--dark), var(--light) 14%);
  color: var(--darkest);
}

.center {
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.input {
  padding: 12px;
  border: 1px solid var(--lightest);
}

.grid-2 {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-auto-rows: 32px;
}

.width-small {
  width: 100px;
}

.width-xsmall {
  width: 40px;
}

.left {
  justify-content: left;
}

.text-align-right {
  text-align: right;
}

.border {
  border: 12px;
  border: medium solid var(--darker);
}

.border-thin {
  border: 1px solid var(--lightest);
}

.border-bottom-fat {
  border-bottom: 12px solid var(--dark);
}

.border-bottom {
  border-bottom: 4px solid var(--light);
}

.border-radius {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 0 20px var(--dark);
}

/* padding margin  */

.margin-4 {
  margin: 4px;
}

.margin-8 {
  margin: 8px;
}

.margin-16 {
  margin: 16px;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

